body{
    font-family: "Roboto", sans-serif;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
.list{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}
.item:not(:first-child){
    margin-left: 8px;
}

